<h1>This is related Product section</h1>

<div
  class="product-recommendations"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4&intent=related"
>
  {%- if recommendations.performed? and recommendations.products_count > 0 -%}
    <div>
      {% for product in recommendations.products %}
        <li class="product">
          <a href="{{ product.url }}">
            <img
              width="100%"
              height="100%"
              class="product__img"
              src="{{ product.featured_image | image_url: width: 300, height: 300 }}"
              alt="{{ product.featured_image.alt }}"
            >

            <p class="product__title">{{ product.title }}</p>
            <p class="product__price">{{ product.price | money }}</p>
          </a>
        </li>
      {% endfor %}
    </div>
  {%- endif -%}
</div>

{% javascript %}
  const url = document.querySelector('.product-recommendations').dataset.url;
  fetch(url)
    .then((res) => res.text())
    .then((result) => {
      document.querySelector('.product-recommendations').innerHTML = result;
    });
{% endjavascript %}
{% schema %}
{
  "name": "Product recommendations",
  "settings": []
}
{% endschema %}
